
.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: 181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.text-center{
    text-align: center;
}
.secondary-background{
    background-color: #FFF8F3;
}
/* header style */
.header{
    background-image: url("images/developer.png"), url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, right bottom;

}
/*nav styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.btn-primary{
    /* width: 150px;
    height: 64px; */
    border-color: none;
    font-weight: bold;
    color:white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: none;
}
.nav-title{
    font-width: bolder;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}

/* Banner styles */
.banner{
    display: flex;
    align-items: center;
    margin-left: 230px;
    margin-right: 38px;
    justify-content: space-between;
}
.banner-content{
    max-width: 585px;
}
.banner-greatings{
    font-weight: 600;
    font-size: 45px;
    margin-right: 320px;
    margin-bottom: 5px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}
.bannner-description{
    color: #757575;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 30px;
}
.banner-image{
    width: 584px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about section styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
.section-title .section-description{
    margin-bottom: 50px;

}
.section-title{
    font-weight: bold;
    font-size: 35px;
}
.bannner-description{
    color: #757575;
}
.about-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item-title{
    font-size: 20px;
    color: #757575;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
    color: #757575;
}

/* Skill section styles */
.skill-container{
    display: flex;
    gap: 24px;
    justify-content: space-around;
}
.skill{
    padding: 0px 30px 30px ;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-container-title{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.skill-container-description{
    font-size: 18px;
    color: #757575;
}

/* resume section styles */

.resume-container{
    display: flex;
    gap: 24px;
}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.experice-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.experience-subtitle{
    font-size: 25px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.expeience-description{
    font-size: 16px;
    color: #757575;
}
.resume-button{
    margin-top: 50px;
}
.resume hr{
    margin: 30px 0px;
}
/* footer styles */
footer{
    display: flex;
    padding: 130px 230px;
    gap: 115px;
}
.footer-column{
    width: 50%;
}
footer h3{
    margin-bottom: 20px;
}
footer p{
    margin-bottom: 30px;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    width: 100%;
    height: 65px;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: block;
    padding: 10px 18px;
    margin-bottom: 24px;
    font-size: 16px;
    border: none;
}
input[type="email"]{
    width: 100%;
    height: 65px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

/* responsive media query */
.hide{
    display: none;
}
/* Make responsive */
@media screen and (max-width: 576px) {
    .skill-container ,
    .resume-container,
    footer,
    .about-items{
        flex-direction: column;
    }
    footer , .about{
        padding: 20px;
    }
    .footer-column{
        width: auto;
    }
    footer input[type="text"], footer input[type="email"], footer textarea{
        width: calc(100% - 40px);
    }
    
}
